button
{
    background-color:blue;
    color: white; 
    margin: 2px;
    

}
  
body{
    background-color: rgb(151, 104, 204);
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h3{
    color:rgb(11, 11, 12);
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd;
  }
  
  table, th,td {
   color: rgb(17, 16, 16);
  }
  
  table thead tr td {
   color:rgb(17, 16, 17);
  }

  
table{
    margin: 5px;
}
.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(171, 173, 162);
    color:rgb(15, 14, 14);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}


* {
    box-sizing: border-box;
}
