button
{
    background-color:rgb(16, 16, 184);
    color: rgb(19, 16, 16); 
    

}
#register
{
    position: relative;
    top: -20px;
    left:60px;

}
  
.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(140, 95, 224);
    color:rgb(19, 17, 17);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}
body{
    background-color: rgb(216, 60, 125);
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :rgb(14, 13, 13);
    text-align: center;
}

